.UserListPage {}
.Headings{
    text-align: left;
}
.flex-box{
    display: flex;
}

.HistoryItem{
    display: flex;
    /* text-align: start; */
    /* justify-content: start; */
    align-items: end;
    padding: 20px 30px 0 30px;
}
.HistoryItems{
    display: block;
    text-align: start;
    padding: 20px 30px 0 30px;
}