.PopUpBlock {
    background-color: #d8d8d8;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    height: 500px;
    width: 500px;
    top:calc(50% - 250px);
    left:calc(50% - 250px);
    z-index: 1000;
}
.pop-up-bg{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(57, 57, 57, 0.7);
    backdrop-filter: blur(10px);
}
.close-button-box{
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    width: 100%;
}
.close-button{
    margin-right: 50px;
    margin-top: 10px;

}